body {
  font-family: sans-serif;
}

#root {
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}

#full_screen {
  height: 100vh;
  width: 100vw;
  font-size: 30px;
  text-align: left;
  display: none;
  background-color: orange;
}

#full_screen_text {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  width: 100%;
  text-align: center;
  color: black;
}

#arrow-img {
  /* position: absolute;
  height: 10vh;
  width: 10vh;
  top: 85vh;
  left: 3vw; */
  height: 100%;
  width: 100%;
}

#arrow-div {
  position: absolute;
  height: 10vh;
  width: 15vh;
  top: 80vh;
  left: 15px;
}

#up-arrow { 
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 80vh;
  left: 50px;
}

#down-arrow { 
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 85vh;
  left: calc(15px + 5vh);
}

#left-arrow { 
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 85vh;
  left: 15px;

}

#right-arrow { 
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 85vh;
  left: calc(15px + 10vh);
}